<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mobyfactory.uiwidgets"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ProjectList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name=".DemoList_ScrollableTabHost"
                  android:label="List of Scrollable TabHost Sample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Demo_ScrollableTabHost"
                  android:label="Demo Scrollable TabHost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
         <activity android:name=".Demo_ScrollableTabHost2"
                  android:label="Demo Scrollable TabHost2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
         <activity android:name=".Demo_ScrollableTabHost3"
                  android:label="Demo Scrollable TabHost3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Demo_ScrollableTabHost4"
                  android:label="Demo Scrollable TabHost4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".DemoActivity1"
                  android:label="Demo Activity 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".DemoActivity2"
                  android:label="Demo Activity 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>

</manifest> 